* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    grid-template: 100px/100px;
    grid-auto-rows: 100px;
    grid-auto-columns: 100px;
    height: 100vh;
    width: 100vw;
}


.navbar {
    grid-column-start: 4;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 3;
    border: 2px solid black;

    display: flex;
    flex-direction: column;
}

.sidebar {
    color: white;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 9;
    border: 2px solid black;
    background-color: #5DADE2;


}

.projects {
    grid-row-start: 3;
    grid-row-end: 9;
    grid-column-start: 4;
    grid-column-end: 13;
    border: 2px solid black;

}

.announcements {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 13;
    grid-column-end: 17;
    border: 2px solid black;

}

.trending {
    grid-row-start: 6;
    grid-row-end: 9;
    grid-column-start: 13;
    grid-column-end: 17;
    border: 2px solid black;
}

#DashboardImg {
    height: 50px;
    width: 50px;
}

label {
    font-size: 30px;
}

.sidebarContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.Icons {
    height: 30px;
    width: 30px;
    transition: height 0.5s ease-in-out, width  0.5s ease-in-out;

}

.Icons:hover{
    height: 40px ;
     width: 40px ;
}

.sidebarLabel{
    display: flex;
    gap:10px;
    margin-top: 50px;
}

.sideInfo{
    display: flex;
    gap: 20px;
}

.basicDetails, .otherDetails{
    display: grid;
    gap: 20px;
}

.otherDetails{
    margin-right: 25px;
}

.topNav{
    height: 50%;
    display: flex;

}

.topRight{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 30px;
    margin-left: 40px;

}

input{
    width: 600px;
    border-radius:15px ;
   padding-left: 30px;
    height: 35px;
    border: transparent;
    background-color: rgb(241, 231, 231);
}

input:focus{
    border: 3px solid black;
}

#profile{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.topLeft{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 30px;
}

#MainProfile{
    height: 85px;
    width: 85px;
    border-radius: 50%;
}

.bottomNav{
    display: flex;
    height: 50%;
}

a{
    text-decoration: none;
}

.bottomLeft{
    height: 100%;
width: 100%;
    margin-left: 30px;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    gap: 30px;
}

.bottomRight{
display: flex;
align-items: center;
justify-content: center;
height: 100%;
width: 100%;
gap: 30px;
}

.NavButton{
height: 40px;
width: 70px;
background: #5DADE2;
border-radius: 45%;
cursor: pointer; /* Mouse pointer on hover */


}

.NavButton:focus{
    border: 2px solid black;
}