* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    grid-template: 100px/100px;
    grid-auto-rows: 100px;
    grid-auto-columns: 100px;
    height: 100vh;
    width: 100vw;
    background-color: #E2E8F0;
}


.navbar {
    grid-column-start: 4;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 3;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.sidebar {
    color: white;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 9;
    background-color: #5DADE2;
}

.projects {
    grid-row-start: 3;
    grid-row-end: 9;
    grid-column-start: 4;
    grid-column-end: 13;
}

.announcements {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 13;
    grid-column-end: 17;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-right: 40px;
}

.trending {
    grid-row-start: 6;
    grid-row-end: 9;
    grid-column-start: 13;
    grid-column-end: 17;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

#DashboardImg {
    height: 50px;
    width: 50px;
}

h4 {
    /* font-size: 30px; */
    margin-top: 10px;
}

.sidebarContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.Icons {
    height: 30px;
    width: 30px;
    transition: height 0.5s ease-in-out, width 0.5s ease-in-out;
}

.Icons:hover {
    height: 40px;
    width: 40px;
}

.sidebarLabel {
    display: flex;
    gap: 10px;
    margin-top: 50px;
}

.sideInfo {
    display: flex;
    gap: 20px;
}

.basicDetails,
.otherDetails {
    display: grid;
    gap: 20px;
}

.otherDetails {
    margin-right: 25px;
}

.topNav {
    height: 50%;
    display: flex;

}

.topRight {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 30px;
    margin-left: 40px;

}

input {
    width: 600px;
    border-radius: 15px;
    padding-left: 30px;
    height: 35px;
    border: transparent;
    background-color: rgb(241, 231, 231);
}

input:focus {
    border: 3px solid black;
}

#profile {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.topLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 30px;
}

#MainProfile {
    height: 85px;
    width: 85px;
    border-radius: 50%;
}

.bottomNav {
    display: flex;
    height: 50%;
}

a {
    text-decoration: none;
}

.bottomLeft {
    height: 100%;
    width: 100%;
    margin-left: 30px;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    gap: 30px;
}

.bottomRight {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 30px;
}

.NavButton {
    height: 40px;
    width: 70px;
    background: #5DADE2;
    border-radius: 45%;
    cursor: pointer;
    /* Mouse pointer on hover */
}

.NavButton:focus {
    border: 2px solid black;
}


.announcementContainer {
    height: 270px;
    width: 250px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    margin: 15px;

}

.trendingContainer {
    height: 270px;
    width: 250px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    margin: 15px;

}

.textContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.textContainer:not(:last-child)::after {
    content: "";
    width: 80%;
    /* Adjust the width as needed */
    height: 1px;
    /* Thickness of the line */
    background-color: #ddd;
    /* Color of the line */
    align-self: center;
    margin-top: 5px;
}


.item {
    display: flex;
    height: 25%;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-left: 10px;
}

.imageItem>img {
    height: 35px;
    width: 35px;
}

p {
    color: grey;
}

.projectContainer {
    display: grid;
    column-gap: 250px;
    row-gap: 75px;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    margin: 20px;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fff;
    height: 200px;
    width: 400px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.projectText{
    width: 80%;
}
.linkContent{
    position: relative;
    left: 30%;
    top: 10%;
}